/**
 *  ACCENT
 */
  cblue = #3274fd
  corange = #FD9D32
  
/**
 *  GRAY SCALE
 */
  cblack = #333
  cgray = #dedede
  cwhite = #fdfdfd
  
/**
 *  THEME COLOR
 */
  cnorm = cgray
  cdark = cblack
  clight = cwhite
  cprim = cblue
  calt = corange
  
/**
 *  INCREMENT
 */
  cone = #111
  ctwo = #222