// /*							*\
// 		FONT FAMILY
// \*							*/

// 	sans = 'Tahoma, sans-serif'
// 	serif = 'Times New Roman, serif'

// /*						  *\
// 		FONT SIZE
// \*						  */

// 	fzxs = 1.2rem
// 	fzsm = 1.6rem
// 	fzmd = 2rem
// 	fzlg = 2.4rem