{
	"globals": {
		"document": true,
    "window": true,
		"DOMParser": true,
    "CanvasRenderingContext2D": true
	},
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "linebreak-style": ["error", "windows"]
  }
}