include ./mixins/tooltip
doctype html
html
  include ./partials/head
  body
    include ./partials/header
    main#fullpage
      section.section.dark-background(data-anchor='intro')
        canvas.canvas-background#dots
        canvas.canvas-background#blurred-dots.blurred
        .container
          .intro.intro--home
            h1.intro__heading Frontend Developer
            h2.intro__lead Piotr Sochacz
      section.section(data-anchor='about')
        .container
          .intro.intro--about
            h2.intro__heading O mnie
            p.intro__content
              | Pasjonuję się frontendem, jego nauka przychodzi mi łatwo i przyjemnie.
              <br>Przy tworzeniu skupiam się na tym aby jak najlepiej zbudować stronę,
              <br> przez co łatwo można rozbudować projekt o kolejne komponenty.
              <br> Dzięki solidnej strukturze wszystko komponuje się w stabilną całość.
            p.intro__content
              | Frontendu zacząłem się uczyć od końcówki października 2015 roku.
              <br> Poznałem wiele przydatnych technologii i zdobyłem doświadczenie
              <br> w realizacji projektów. Zamierzam dalej się rozwijać w tym kierunku,
              <br> jest to moje hobby i praca, lubię tworzyć i widzieć jak projekt się rozwija.
      section.section(data-anchor='skills')
        .container
          .intro.intro--skills
            - const skills = require(`${dirname}/src/data/skills/skills.json`).skills;
            each skill in skills
              h2.intro__heading #{skill.skillsHeading}
              .skills
                - const groups = skill.skillsGroup;
                each group in groups
                  .skills__col
                    h3 #{group.skillsTech}
                    ul
                      - const techs = group.skillsDesc;
                      each tech in techs
                        li
                          +tooltip(tech.techHeading, tech.techDesc, 'tooltip')
      section.section(data-anchor='projects')
        .container
          .intro.intro--projects
            h2.intro__heading Zakres prac
            .intro__content Piotr Sochacz
      section.section(data-anchor='contact')
        .container
          .intro.intro--contact
            h2.intro__heading Kontakt
            .intro__content Piotr Sochacz
    include ./partials/footer
    include ./partials/foot