rotateAmount = 23deg
colors = #fff #4C31FF #C40CE8 #FF0000 #E85F0C #FFB70D
easing = cubic-bezier(0.43, 1.99, 0.58, 0.87)
switchDuration = 0.3s
ratio = 4
@keyframes onClickAnim
  0%
    transform scale(1)
  50%
    transform scale(0.5)
    opacity 0.4
  100%
    transform scale(1)
.nav-list
  position relative
  right 10px
  top 6px
  z-index 1
  &__item
    position absolute
    right 0
    top 4px
    width 4rem
    height 4rem
    transform-origin 85% center
    transition switchDuration cubic-bezier(0.59, 1.69, 0.48, 0.74)
    transition-property transform, width
    will-change transform, width
    mix-blend-mode multiply
    for color, i in colors
      &:nth-child({i})
        transition-delay 0.05s * 5 - (i * 0.05s)
        .nav-list
          &__link
            background-color color
            transition transform switchDuration cubic-bezier(0.59, 1.69, 0.48, 0.74)
  &__link
    display inline-block
    transform rotate(- rotateAmount)
    background-color #422ecc
    border-radius 50%
    height 4rem
    width 4rem
    display inline-flex
    justify-content center
    align-items center
    &:focus
      animation onClickAnim 0.3s
      outline 0
  &.active
    .nav-list
      &__item
        width 15rem
    for color, i in colors
      .nav-list
        &__item:nth-child({i})
          transform rotate(-(i*rotateAmount - rotateAmount))
          transition-delay i*0.05s
          .nav-list
            &__link
              transform rotate((i*rotateAmount - rotateAmount))
              background-color color