.nav
  &__list
    position relative
    right 10px
    top 6px
    z-index 1
  &__toggle
    position absolute
    right 1rem
    top 1rem
    z-index 2
    cursor pointer
    width 40px
    height 40px
    border-radius 50%
    box-shadow 0 1px 2px -1px #333;
    border: 0;
    background: none;
    outline: 0;
    &::before
    &::after
      position absolute
      top 19px
      content ''
      display block
      width 30px
      left 5px
      height 2px
      background-color #fff
      transition .3s easing
      transition-property transform, top, color
    &::before
      top 16px
      transform rotateY(180deg)
    &::after
      top 22px
      transform rotateY(-180deg)
    &:hover
      &::before
        transform rotateY(360deg)
      &::after
        transform rotateY(-360deg)
    &.active
      &::before
      &::after
        top 19px
        background-color #333
      &::before
        transform rotate(45deg)
      &::after
        transform rotate(-45deg)