section
	display flex
	align-items center
	justify-content center
	flex-direction column
	+min(sm)
		min-height 100vh
article
	h1
		font-size 3rem
		margin 1rem 0
	h2
		font-size 2rem
	a
		text-decoration underline