.skills-set
  &__heading
    letter-spacing 0.025em
    margin-bottom 1rem
    &::after
      content ''
      height 0.3rem
      background-color #f00
      opacity 0.5
      margin-top 1rem
      width 3rem
      display block