/** SETTINGS 		- PREPROCS
  * TOOLS 			- MIXINS, FUNCTIONS
  * GENERIC 		- RESETS, NORMALIZE, BOX-SIZING
  * ELEMENTS 		- BASE HTML H1, A, BUTTON, INPUT ETC.
  * OBJECTS 		- CLASS-BASSED SELECTORS
  * COMPONENTS 	- UI COMPONENTS MIX OF OBJECTS AND COMPONENTS
  * TRUMPS 			- UTILITY LIKE CLEARFIX OR PULL-RIGHT(FLOAT: RIGHT)
  * THEME 			- STYLING FOR OBJECTS AND COMPONENTS
  */
@import 'settings/fonts'
@import 'settings/colors'
@import 'settings/healthcheck'

@import 'tools/breakpoints'
@import 'tools/sprite'

@import 'generic/normalize'
@import 'generic/reset'
@import 'generic/box-sizing'
@import 'generic/font-smooth'
@import 'generic/font-family'
@import 'generic/rem-scale'

// @import 'elements/el'

@import 'objects/icon'

@import 'components/nav-list'
@import 'components/nav'
@import 'components/header'
@import 'components/skills'
@import 'components/tooltip'
@import 'components/intro'
@import 'components/fullpage'

@import 'trumps/container'

.canvas-background
  position absolute
  top 0
  left 0
  pointer-events none
.blurred
  filter blur(0.5px)
  z-index 2
.dark-background {
  position relative
  background-color #000
  color #fdfdfd
  z-index 0
  &::after {
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    content: ''
    background-image url('img/tunel.jpg')
    background-size cover
    background-repeat no-repeat
    background-position 0 0
    transform: scaleX(-1)
  }
}